<div id="leftSide">
  <div id="Lang" [formGroup]="language">
    <mat-form-field>
      <mat-label>Language</mat-label>
      <mat-select
        (selectionChange)="changeLang($event.value)"
        formControlName="language"
      >
        <mat-option *ngFor="let lang of langs" [value]="lang">
          {{ lang === "fr_FR" ? "French" : "English" }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div id="menu">
    <ul class="menu">
      <li>
        <a><mat-icon>home</mat-icon>Home</a>
      </li>
      <li>
        <a (click)="flightsPage()"><mat-icon>flight</mat-icon>Flights</a>
      </li>
      <li>
        <a (click)="bookmarksPage()"><mat-icon>bookmark</mat-icon>Bookmarks</a>
      </li>
      <li>
        <a (click)="synthesisFlightsPage()"
          ><mat-icon>pie_chart</mat-icon>Synthesis</a
        >
      </li>
      <li>
        <a><mat-icon>contacts</mat-icon>Contact</a>
      </li>
      <li>
        <a><mat-icon>help</mat-icon>Help</a>
      </li>
      <li>
        <a><mat-icon>power_settings_new</mat-icon>Sign out</a>
      </li>
    </ul>
  </div>
</div>
