<div id="mainContainer">
  <app-left-side></app-left-side>
  <div id="mainMargin">
    <div id="main">
      <div id="mainBanner">
        <h3>{{ "searchFlightForm.header.label" | translate }}</h3>
        <p>
          <span class="expand" (click)="hideSearchForm()">
            <mat-icon *ngIf="isHiddenSearch">expand_more</mat-icon>
            <mat-icon *ngIf="!isHiddenSearch">expand_less</mat-icon>
          </span>
        </p>
      </div>
      <div [ngStyle]="{ display: isHiddenSearch ? 'none' : 'inherit' }">
        <app-search-form
          (eventSearch)="searchFlights($event)"
        ></app-search-form>
      </div>
      <div id="loader" *ngIf="loading">
        <mat-progress-spinner></mat-progress-spinner>
      </div>
      <div *ngIf="show && !loading" id="mainBanner">
        <h3>{{ "flightsList.searchResult.label" | translate }}</h3>
      </div>
      <div *ngIf="show">
        <app-flight-search-summary
          [nbFlights]="nbFlights"
          *ngIf="!loading"
        ></app-flight-search-summary>
      </div>

      <div *ngIf="show">
        <app-flights-list
          [flights]="flightsData"
          (bookmarkTitle)="addBookmark($event)"
        ></app-flights-list>
      </div>
    </div>
  </div>
</div>
<app-bot-side></app-bot-side>
